---
import BentoBox from "@/components/layout/BentoBox.astro";
import Header from "../page/Header.astro";
---

<Header title="Biography" subtitle="October 30, 2024" />
<section id="biography">
  <BentoBox className="max-w-6xl">
    <div>
      <p class="text-lg">
        Hi, it's Robin. I am a German software engineer and freelance developer from Berlin, Germany. First of all, thank you for reading my blog—it’s such a pleasure to have you here!
        <br />
        A few words about my professional life: I am a passionate software and web developer dedicated to learning and teaching JavaScript. After obtaining my Master's Degree in Computer Science, I gained valuable experience in the startup world, where I used JavaScript intensively in both my professional and personal projects. I later had the opportunity to work closely with an exceptional team of engineers at a Berlin-based company, developing large-scale JavaScript applications. This experience eventually ignited my desire to teach others about these topics.
        <br />
        During my time as a developer in Berlin, I regularly wrote articles about web development on my website. The positive feedback I received from learners allowed me to refine my writing and teaching style. With each article, I grew more confident in my ability to guide others. It is immensely fulfilling to see students thrive through clear objectives and rapid feedback loops.
        <br />
        Currently, I am a self-employed developer helping companies build their MVPs, conduct workshops, perform code audits and reviews, and create large-scale JavaScript applications. You can find more information about me, ways to support my work, and how to collaborate with me in the following sections.
      </p>
    </div>
  </BentoBox>
</section>
