---
// import { buttonVariants } from "@/components/ui/button";
import BentoBox from "@/components/layout/BentoBox.astro";
import Header from "../page/Header.astro";
---

<Header title="Principles" subtitle="What I stand by" />
<section id="principles">
  <BentoBox className="text-center max-w-6xl mx-auto mt-8">
    <p>
        blabla
    </p>
  </BentoBox>  
</section>
