---
import BentoBox from '@/components/layout/BentoBox.astro';
import Header from '@/components/page/Header.astro';

const recognitions = [
  { issuedBy: 'Institute for Excellence', title: "Mastery Award", date: new Date("03.07.2025") },
  { issuedBy: 'University of Bagdad', title: "Magna Cum Laude", date: new Date("03.07.2025") },
];
---

<Header title="Recognition" subtitle="Honors and awards I have received." />

<section id="beyond">
    <div class="max-w-6xl">
      <div class="mb-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        {recognitions.map(item => (
          <BentoBox className="aspect-square">
            <div class="flex flex-col">
                <span class="text-md text-muted-foreground">{item.issuedBy}</span>
                <span class="font-bold text-lg">{item.title}</span>
                <span class="text-sm text-muted-foreground">{item.date.toLocaleDateString('en-US', { month: 'long', year: 'numeric' })}</span>
            </div>
          </BentoBox>
        ))}
      </div>
    </div>
  </section>
  