---
interface Props {
  className?: string;
  padding?: boolean;
  hoverHighlight?: boolean;
  bgImage?: string;
  href?: string;
}

const {
  className = "",
  padding = true,
  hoverHighlight = false, 
  href,
  bgImage,
} = Astro.props;
---

<div
  class={`rounded-3xl shadow-sm ${padding ? "p-6" : ""} border bg-background ${
    hoverHighlight ? "transition-all duration-300 hover:ring-2 hover:ring-border-foreground" : ""
  } ${className}`}
  style={bgImage ? `background-image: url('${bgImage}'); background-size: cover; background-position: center;` : ""}
>
  {href ? (
    <a class="w-full" href={`${href}`}>
      <slot />
    </a>
  ) : (
    <slot />
  )}
</div>