---
import PageLayout from "@/layouts/PageLayout.astro";
import { privacyPageContent } from "@/config";

const { seo, page } = privacyPageContent;
---

<PageLayout
  seo={seo}
  page={page}
>
  <p class="text-muted-foreground max-w-[700px] text-lg">
    Privacy Page content
  </p>
</PageLayout>
