---
import PageLayout from "@/layouts/PageLayout.astro";
import { privacyPageContent } from "@/config";

const { seo, page, statement } = privacyPageContent;
---

<PageLayout seo={seo} page={page}>
  <div class="max-w-6xl text-lg space-y-4">
    <div class="max-w-6xl text-lg space-y-4" set:html={statement} />
  </div>
</PageLayout>
